module "tiller" {
  source = "git::https://github.com/lsst-sqre/terraform-tinfoil-tiller.git//?ref=master"

  namespace       = "kube-system"
  service_account = "terraform-tiller"
  tiller_image    = "gcr.io/kubernetes-helm/tiller:v{{ terraform.helm.tiller_version }}"
}
