simpledi==0.4.1
awscli==1.42.30
boto3==1.40.30
botocore==1.40.30
urllib3==2.6.0
ansible==11.13.0
azure-identity==1.25.3
azure-mgmt-compute==38.1.0
azure-mgmt-network==30.2.0
azure-mgmt-resource==26.0.0
Jinja2==3.1.6
hashmerge
python-consul
hvac==1.2.1
passgen
inflection==0.5.1
packaging==26.2
kubernetes==33.1.0
himl==0.20.0
GitPython==3.1.*
