simpledi>=0.2
awscli==1.20.33
boto3==1.18.33
boto==2.49.0
ansible==2.10.7
PyYAML==5.4.1
azure-common==1.1.27
azure==4.0.0
msrestazure==0.6.4
Jinja2==2.11.3
hashmerge
python-consul
hvac==0.11.0
passgen
inflection==0.3.1
kubernetes==18.20.0
himl==0.7.3
six
GitPython==3.1.*
