{% set amazon_linux_hvm_ami = {
    "ap-northeast-1": "ami-18869819",
    "ap-southeast-1": "ami-96bb90c4",
    "ap-southeast-2": "ami-d50773ef",
    "eu-west-1": "ami-9d23aeea",
    "sa-east-1": "ami-af9925b2",
    "us-east-1": "ami-146e2a7c",
    "us-west-1": "ami-42908907",
    "us-west-2": "ami-dfc39aef"
} %}

{% set amazon_linux_nat_ami = {
    "ap-northeast-1": "ami-27d6e626",
    "ap-southeast-1": "ami-6aa38238",
    "ap-southeast-2": "ami-893f53b3",
    "eu-west-1": "ami-14913f63",
    "sa-east-1": "ami-8122969c",
    "us-east-1": "ami-184dc970",
    "us-west-1": "ami-a98396ec",
    "us-west-2": "ami-290f4119"
} %}

{% set azs = {
    'us-east-1': 'us-east-1e'
} %}